html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}

a:link {
    font-size: 14px;
    color: #1c93f9;
    text-decoration: none;
}
a:visited {
    font-size: 14px;
    color: #1c93f9;
    text-decoration: none;
}

.left{
    float: left;
}
.right{
    float: right;
}

.ml-6{
    margin-left: 6%;
}

.top-1{
    top: 1px;
}

.width-233{
    width: 233px;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid #ddd;
}

.empty-header {
    height: 30px;
    width: auto;
}

.layui-tab-content {
    height: 600px;
}

.form-select {
    width: 233px;
    float: left;
}

.form-input {
    width: 233px;
    float: left;
}

.right-tab-div {
    margin: 50px auto;
    width: 420px;
}

.right-tab-div .right-tab-btn-div {
    padding-left: 130px;
}

.personal-right-tab-div {
    margin-left: 30%;
    margin-top: 20px;
}

.personal-right-tab-div .right-tab-btn-div {
    padding-left: 130px;
}

.tabform-label {
    float: left;
    display: block;
    padding: 9px 15px 9px 0;
    width: 90px;
    font-weight: 400;
    line-height: 15px;
    text-align: right;
}

.init-database-content{
    width: 40%;
    margin-left: 27%;
}

.desc-content{
    margin-bottom: 40px;
}

.alert{
    width: 40%;
    margin-left: 27%;
    padding: 10px;
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}

/* 按钮美化 */
.previous-button {
    width: 80px;
    height: 33px;
    border-width: 0;
    border-radius: 3px;
    background: #1c443c40;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 14px;
}
.submit-button {
    width: 80px;
    height: 33px;
    border-width: 0;
    border-radius: 3px;
    background: #3084ec;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 14px;
}

/* 鼠标移入按钮范围时改变颜色 */
.previous-button:hover {
    background: #1c443c40;
}
.submit-button:hover {
    background: #3084ec;
}

.btn-center {
    margin-right: auto;
    margin-left: auto;
    width: 270px;
}

/*底部*/
.footer {
    bottom: 0;
    margin: auto 0;
    width: 100%;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

/*  覆盖bootstrap样式 */
.btn-primary {
    color: #fff;
    background-color: #3084ec;
    border-color: #3084ec;
}
label {
    font-weight: 400;
}
.input-group .form-control{
    width: 233px;
}