html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}

a:link {
    font-size: 14px;
    color: #1c93f9;
    text-decoration: none;
}
a:visited {
    font-size: 14px;
    color: #1c93f9;
    text-decoration: none;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid #ddd;
}

.empty-header {
    height: 30px;
    width: auto;
}

/*搜索*/
.layui-form-label {
    float: left;
    display: block;
    padding: 9px 15px 9px 0;
    width: 60px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}

.layui-input-block {
    margin-left: 0;
    min-height: 36px;
}

.layui-form-select .layui-input {
    padding-right: 30px;
    cursor: pointer;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #bfbaba;
}

.layui-tab-content {
    padding: 10px 0 0 0;
}

.form-div {
    width: 100%;
    display: block;
}

.form-select {
    width: 200px;
    float: left;
}

.form-input {
    width: 233px;
    float: left;
}

.left-tab-container {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 548px;
    overflow-y: auto;
}

.right-tab-div {
    margin-left: 25%;
}

.right-tab-form-label {
    float: left;
    display: block;
    padding: 9px 15px 9px 0;
    width: 90px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}

/* 按钮美化 */
.submit-button {
    width: 80px;
    height: 33px;
    border-width: 0;
    border-radius: 3px;
    background: #1c93f9;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 14px;
    float: right;
}

/* 鼠标移入按钮范围时改变颜色 */
.submit-button:hover {
    background: #1c93f9;
}

/*底部*/
.footer {
    position: absolute;
    bottom: 0;
    margin: auto 0;
    width: 60%;
    height: 40px;
    left: 20%;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid #cccccc;
}

.footer-p {
    margin-top: 10px;
}

/*.footer {
    bottom: 0;
    margin: auto 0;
    width: 100%;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

.footer .footer-middle {
    width: 60%;
    float: left;
    border-top: 1px solid #cccccc;
}

.footer .footer-left {
    width: 20%;
    float: left;
    height: 40px;
}

.footer .footer-right {
    width: 20%;
    float: left;
    height: 40px;
}*/