.layui-header {
    width: 200px;
}

.layui-layout-admin .layui-body {
    top: 0;
}

.layui-bg-black {
    background-color: #23262e !important;
}

.layui-nav {
    background-color: #23262e;
}

a:hover {
    color: #009688;
    text-decoration: none;
}

.a-logo {
    color: #009688;
}

.left {
    float: left;
}

.right {
    float: right;
}

.ml-10 {
    margin-left: 10px;
}

.footer-p {
    margin: 0 auto;
    width: 330px;
}

/*主体部分-头部*/
.table-head {
    padding-top: 2%;
    width: 90%;
    padding-left: 10%;
    text-align: center;
}

.operate {
    margin-top: 20px;
    height: 25px;
}

.form-input {
    width: 233px;
    float: left;
}

.cyan-button {
    background: #aee1f1;
}

/* 鼠标移入按钮范围时改变颜色 */
.cyan-button:hover {
    background: #aee1f1;
}

/*主体内容-body*/
.table-pad {
    padding-top: 2%;
    width: 90%;
    padding-left: 10%;
}

/*覆盖原layui*/
.layui-input {
    height: 34px;
}