<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>在线数据字典-数据库选择</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/static/mine/css/custom.css}"/>
    <link rel="stylesheet" th:href="@{/static/mine/css/footer.css}"/>
</head>
<body>
<!--顶部空白-->
<div class="empty-header"></div>
<!--介绍-->
<div class="container">
    <div class="jumbotron">
        <h2>数据字典</h2>
        <p>...</p>
        <p>Designed to easy to exporting and viewing table structures</p>
    </div>
</div>
<!--选择数据库-->
<div class="container">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">数据库选择</li>
        </ul>
        <!--搜索-->
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form">
                    <div class="form-div">
                        <label class="layui-form-label">数据库</label>
                        <div class="layui-input-block form-select">
                            <select name="dbValue" id="dbValue" lay-verify="required" lay-filter="select-dbValue">
                                <option value=""></option>
                            </select>
                        </div>

                        <label class="layui-form-label">表名</label>
                        <input type="text" class="form-control form-input" id="inputSearch"
                               placeholder="请输入要搜索的表名" autocomplete="off">

                        <button type="button" class="btn btn-default submit-button right" onclick="btn_query()">查询</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--版本号-->
<div class="footer">
    <p>
        <span> By LJX From 2019-03-19 </span>
        <span><a href="http://glyphicons.com/">友情链接glyphicon</a></span>
    </p>
</div>

<script th:src="@{/static/mine/jquery-3.3.1.min.js}"></script>
<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/layui/layui.all.js}"></script>
<script>
    function getDataBaseList(){
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/queryAllDBOfCustom',
            success: function (data) {
                $.each(data.data, function (index, item) {
                    // 下拉菜单里添加元素
                    $('#dbValue').append(new Option(item, item));
                });
                layui.form.render("select");
            },
            error: function (data) {
                layer.msg(data.msg);
            }
        })
    }

    function refreshToShow(db_name, table_name) {
        if (db_name == undefined || typeof db_name == "undefined") {
            layer.msg('请必须选择一个数据库',{time:1000});
            return;
        }
        let url = "/show?db=" + db_name;
        if (table_name != undefined && table_name != "" && typeof table_name != "undefined") {
            url += "&t=" + table_name;
        }
        window.location.href = url;
        // new submitForm('/show', { "dbName": db_name, "tableName":table_name }).post();
    }

    var dbName;
    function btn_query() {
        let table_name = $('#inputSearch').val();
        refreshToShow(dbName, table_name);
    }

    layui.use(['form', 'layer'], function () {
        let form = layui.form;
        let layer = layui.layer;

        // getDataBaseList();
        form.on('select(select-dbValue)', function(data){
            dbName = data.value;
        })
    })

    $(document).ready(function(){
        getDataBaseList();
    });
</script>
<script type="text/javascript">
    /*创造虚拟表单POST提交不留参数于url*/
    function submitForm(url, data)
    {
        var eleForm = document.body.appendChild(document.createElement('form'));
        eleForm.action = url;
        for (var property in data)
        {
            var hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = property;
            hiddenInput.value = data[property];
            eleForm.appendChild(hiddenInput);
        }
        this.eleForm = eleForm;
        if (!submitForm._initialized)
        {
            submitForm.prototype.post = function ()
            {
                this.eleForm.method = 'post';
                this.eleForm.submit();
            };
            submitForm._initialized = true;
        }
    }
</script>
<!--<script>
    new Vue({
        el: '#app',
        data: {
            visible: true
        },
        methods: {
            show: function () {
                this.visible = true;
            }
        }
    })
</script>-->
</body>
</html>