<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/static/mine/css/index.css}"/>
</head>
<body>
<!--顶部空白-->
<div class="empty-header"></div>
<!--介绍-->
<div class="container">
    <div class="jumbotron">
        <h2>数据字典</h2>
        <p>...</p>
        <p>Designed to easy to exporting and viewing table structures</p>
    </div>
</div>
<!--选择数据库-->
<div class="container">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">默认数据库</li>
            <li>自定义访问</li>
        </ul>
        <!--搜索-->
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form" action="/">
                    <div class="form-div">
                        <label class="layui-form-label">数据库</label>
                        <div class="layui-input-block form-select">
                            <select name="dbValue" id="dbValue" lay-verify="required">
                                <option value=""></option>
                            </select>
                        </div>

                        <label class="layui-form-label">表名</label>
                        <input type="text" class="form-control form-input" id="inputSearch"
                               placeholder="请输入要搜索的表名" autocomplete="off">

                        <button type="button" class="btn btn-default submit-button">查询</button>
                    </div>
                </form>
            </div>
            <!--输入IP访问-->
            <div class="layui-tab-item">
                <div class="right-tab-div">
                    <form action="/defined/testGo">
                        <div class="layui-form-item">
                            <label class="right-tab-form-label">IP</label>
                            <div class="layui-input-block">
                                <input type="text" name="ip" required  lay-verify="required" placeholder="数据库IP"
                                       autocomplete="off" class="form-control form-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="right-tab-form-label">Port</label>
                            <div class="layui-input-block">
                                <input type="text" name="port" required  lay-verify="required" placeholder="端口号"
                                       autocomplete="off" class="form-control form-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="right-tab-form-label">UserName</label>
                            <div class="layui-input-block">
                                <input type="text" name="userName" required  lay-verify="required" placeholder="用户名"
                                       autocomplete="off" class="form-control form-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="right-tab-form-label">Password</label>
                            <div class="layui-input-block">
                                <input type="password" name="pwd" required  lay-verify="required" placeholder="密码"
                                       autocomplete="off" class="form-control form-input">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">确定连接</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--统计-->
<!--<div class="container">
    <table class="table table-bordered table-hover">
        <tr>
            <th>分类</th>
            <th>统计数</th>
        </tr>
        <tr th:each="user:${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
        </tr>
    </table>
</div>-->
<!--版本号-->
<div class="footer">
    <p class="footer-p">
        <span> By JF From 2019-03-19 </span>
    </p>
</div>

<script th:src="@{/static/mine/jquery-3.3.1.js}"></script>
<script th:src="@{/static/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/static/layui/layui.all.js}"></script>
<script th:src="@{/static/vue/vue.min.js}"></script>
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form;
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/queryAllDataBase',
            success: function (data) {
                $.each(data, function (index, item) {
                    console.log(index);
                    console.log(item);

                    // 下拉菜单里添加元素
                    $('#dbValue').append(new Option(item.name, item.uid));
                });
                layui.form.render("select");
            }
        })
    })
    function getDataBaseList(){
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/queryAllDataBase',
            success: function (data) {
                $.each(data, function (index, item) {
                    $('#xm').append(new Option(item.xm, item.id));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        })
    }

    /*form.on('select(filter)', function(data){
        console.log(data.elem); //得到select原始DOM对象
        console.log(data.value); //得到被选中的值
        console.log(data.othis); //得到美化后的DOM对象
    });*/

    $(document).ready(function () {
        // getDataBaseList();
    });
</script>
<script>
    new Vue({
        el: '#app',
        data: {
            visible: true
        },
        methods: {
            show: function () {
                this.visible = true;
            }
        }
    })
</script>
</body>
</html>