<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/static/mine/css/index.css}"/>
</head>
<body>
<!--顶部空白-->
<div class="empty-header"></div>
<!--介绍-->
<div class="container">
    <div class="jumbotron">
        <h2>数据字典</h2>
        <p>...</p>
        <p>Designed to easy to exporting and viewing table structures</p>
    </div>
</div>
<!--选择数据库-->
<div class="container">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">默认数据库</li>
            <li>自定义访问</li>
        </ul>
        <!--搜索-->
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form" action="/">
                    <div class="form-div">
                        <label class="layui-form-label">数据库</label>
                        <div class="layui-input-block form-select">
                            <select name="dbValue" id="dbValue" lay-verify="required" lay-filter="select-dbValue">
                                <option value=""></option>
                            </select>
                        </div>

                        <label class="layui-form-label">表名</label>
                        <input type="text" class="form-control form-input" id="inputSearch"
                               placeholder="请输入要搜索的表名" autocomplete="off">

                        <button type="button" class="btn btn-default submit-button" onclick="btn_query()">查询</button>
                    </div>
                </form>
                <!--统计-->
                <div class="left-tab-container">
                    <table class="table table-bordered table-striped table-hover" id="dbStatistics">
                        <tr style='background-color: #c4e7ec'>
                            <th width= "20%">数据源</th>
                            <th width= "20%">版本</th>
                            <th width= "40%">分类</th>
                            <th width= "20%">统计数</th>
                        </tr>
                        <tr th:each="ds:${dataStatistics}">
                            <td th:class="'type_'+${ds.dbName}" th:text="${ds.dbName}"></td>
                            <td th:text="${ds.version}"></td>
                            <td th:text="${ds.dtName}"></td>
                            <td th:text="${ds.tableCount}"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--输入IP访问-->
            <div class="layui-tab-item">
                <div class="right-tab-div">
                    <form>
                        <div class="layui-form-item">
                            <label class="right-tab-form-label">IP</label>
                            <div class="layui-input-block">
                                <input type="text" name="ip" required  lay-verify="required" placeholder="数据库IP"
                                       autocomplete="off" class="form-control form-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="right-tab-form-label">Port</label>
                            <div class="layui-input-block">
                                <input type="text" name="port" required  lay-verify="required" placeholder="端口号"
                                       autocomplete="off" class="form-control form-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="right-tab-form-label">UserName</label>
                            <div class="layui-input-block">
                                <input type="text" name="userName" required  lay-verify="required" placeholder="用户名"
                                       autocomplete="off" class="form-control form-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="right-tab-form-label">Password</label>
                            <div class="layui-input-block">
                                <input type="password" name="pwd" required  lay-verify="required" placeholder="密码"
                                       autocomplete="off" class="form-control form-input">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">确定连接</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--版本号-->
<div class="footer">
    <p class="footer-p">
        <span> By JF From 2019-03-19 </span>
    </p>
</div>
<!--<div class="footer">
    <div class="footer-left"></div>
    <div class="footer-middle">
        <p class="footer-p">
            <span> By JF From 2019-03-19 </span>
        </p>
    </div>
    <div class="footer-right"></div>
</div>-->

<script th:src="@{/static/mine/jquery-3.3.1.js}"></script>
<script th:src="@{/static/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/static/layui/layui.all.js}"></script>
<!--<script th:src="@{/static/vue/vue.min.js}"></script>-->
<script th:inline="javascript">
    function mergeRows(){
        $('.table').find("td[class^='type_']").each(function (index, element) {
            var cla = $(element).attr("class");
            var obj = $('.table').find("."+cla);
            if (obj.length>=1) {
                let dbName = $(element).text();
                obj.eq(0).attr("rowspan",obj.length);
                obj.eq(0).css("color","#1c93f9")
                /*obj.eq(0).css("cursor","pointer")
                obj.eq(0).wrapInner("<span onclick='queryMenuList(\"" +dbName+ "\")'></span>");*/
                obj.eq(0).wrapInner("<a href='/show?dbName="+dbName+"'></a>");
                obj.eq(0).removeClass(cla);
                $('.table').find("."+cla).remove();
            }
        })
    }

    $(document).ready(function(){
        mergeRows();
    });
</script>
<script>
    function getDataBaseList(){
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/queryAllDataBase',
            success: function (data) {
                $.each(data.data, function (index, item) {
                    // 下拉菜单里添加元素
                    $('#dbValue').append(new Option(item, item));
                });
                layui.form.render("select");
            },
            error: function (data) {
                layer.msg(data.msg);
            }
        })
    }

    function refreshToShow(db_name) {
        if (db_name == undefined || typeof db_name == "undefined") {
            layer.msg('请必须选择一个库',{time:1000});
            return;
        }
        var url = "/show?dbName=" + db_name;
        window.location.href = url;
    }

    var dbName;
    function btn_query() {
        refreshToShow(dbName);
    }

    layui.use(['form', 'layer'], function () {
        var form = layui.form;
        var layer = layui.layer;

        getDataBaseList();
        form.on('select(select-dbValue)', function(data){
            dbName = data.value;
        })
    })
</script>
<!--<script>
    new Vue({
        el: '#app',
        data: {
            visible: true
        },
        methods: {
            show: function () {
                this.visible = true;
            }
        }
    })
</script>-->
</body>
</html>