<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>在线数据字典-主页</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/static/step-lay/step.css}">
    <link rel="stylesheet" th:href="@{/static/mine/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/static/mine/css/footer.css}"/>
</head>
<body>
<!--顶部空白-->
<div class="empty-header"></div>
<!--介绍-->
<div class="container">
    <div class="jumbotron">
        <h2>数据字典  <span class="layui-badge layui-bg-green">v1.0</span></h2>
        <p>...</p>
        <p>Designed to easy to exporting and viewing table structures</p>
    </div>
</div>
<!--选择数据库-->
<div class="container">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">MySQL</li>
            <li>MongoDB</li>
            <li>个性化设置(不做了)</li>
        </ul>
        <!--搜索-->
        <div class="layui-tab-content">
            <!--mysql 输入IP访问-->
            <div class="layui-tab-item layui-show">
                <div class="right-tab-div">
                    <form class="form-horizontal" action="/costomShow" method="post">
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-3" for="inputDB">DBSupport</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon">@</span>
                                    <select class="form-control form-select" name="dbSupprot" required  lay-verify="required" disabled="disabled">
                                        <option id="mysql">MySql</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-3" for="inputIp">IP</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-link" aria-hidden="true"></span>
                                    <input type="text" class="form-control top-1" name="ip" id="inputIp"
                                           placeholder="数据库IP" required  lay-verify="required" autocomplete="off" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-3" for="inputPort">Port</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                    <input type="text" class="form-control top-1" name="port" id="inputPort"
                                           placeholder="端口号" required  lay-verify="required" autocomplete="off" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-3" for="inputUserName">UserName</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-user" aria-hidden="true"></span>
                                    <input type="text" class="form-control top-1" name="userName" id="inputUserName"
                                           placeholder="用户名" required  lay-verify="required" autocomplete="off" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-3" for="inputPassword">Password</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-lock" aria-hidden="true"></span>
                                    <input type="password" class="form-control top-1" name="password" id="inputPassword"
                                           placeholder="密码" required  lay-verify="required" autocomplete="off" >
                                </div>
                            </div>
                        </div>
                        <div class="right-tab-btn-div">
                            <button type="button" class="btn btn-primary ml-14" id="mysql_test_btn" onclick="costom_btn_mysql_query()">测试连接</button>
                            <button type="submit" class="btn btn-success ml-14" id="mysql_submit_btn">确定连接</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--mongodb IP访问-->
            <div class="layui-tab-item">
                <div class="right-tab-div">
                    <form class="form-horizontal" action="/costomShow" method="post">
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-3" for="inputDB">DBSupport</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon">@</span>
                                    <select class="form-control form-select" name="dbSupprot" required  lay-verify="required" disabled="disabled">
                                        <option id="mongodb">MongoDB</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-3" for="inputMongoIp">IP</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-link" aria-hidden="true"></span>
                                    <input type="text" class="form-control top-1" name="ip" id="inputMongoIp"
                                           placeholder="数据库IP" required  lay-verify="required" autocomplete="off" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-3" for="inputMongoPort">Port</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                    <input type="text" class="form-control top-1" name="port" id="inputMongoPort"
                                           placeholder="端口号" required  lay-verify="required" autocomplete="off" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-3" for="inputMongoUserName">UserName</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-user" aria-hidden="true"></span>
                                    <input type="text" class="form-control top-1" name="userName" id="inputMongoUserName"
                                           placeholder="用户名" autocomplete="off" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-3" for="inputMongoPassword">Password</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-lock" aria-hidden="true"></span>
                                    <input type="password" class="form-control top-1" name="password" id="inputMongoPassword"
                                           placeholder="密码" autocomplete="off" >
                                </div>
                            </div>
                        </div>
                        <div class="right-tab-btn-div">
                            <button type="button" class="btn btn-primary ml-14" id="mongo_test_btn" onclick="costom_btn_mongodb_query()">测试连接</button>
                            <button type="submit" class="btn btn-success ml-14" id="mongo_submit_btn">确定连接</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="layui-card">
                    <div class="layui-card-body" style="padding-top: 10px;">
                        <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
                            <div carousel-item>
                                <div class="personal-right-tab-div">
                                    <form action="#" method="post">
                                        <div class="layui-form-item">
                                            <label class="tabform-label">IP</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="personal-ip" id="personal-ip" required  lay-verify="required" placeholder="MySQL-数据库IP"
                                                       autocomplete="off" class="form-control form-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="tabform-label">Port</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="personal-port" id="personal-port" required  lay-verify="required" placeholder="MySQL-端口号"
                                                       autocomplete="off" class="form-control form-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="tabform-label">UserName</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="personal-userName" id="personal-userName" required  lay-verify="required" placeholder="用户名"
                                                       autocomplete="off" class="form-control form-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="tabform-label">Password</label>
                                            <div class="layui-input-block">
                                                <input type="password" name="personal-pwd" id="personal-pwd" required  lay-verify="required" placeholder="密码"
                                                       autocomplete="off" class="form-control form-input">
                                            </div>
                                        </div>
                                        <div class="right-tab-btn-div">
                                            <button type="button" class="btn btn-primary" id="personal-test_btn">测试连接</button>
                                            <button type="submit" lay-submit lay-filter="formStep" class="btn btn-success" id="personal-submit_btn">确定连接</button>
                                        </div>
                                    </form>
                                </div>
                                <div>
                                    <div class="alert alert-warning alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>Warning!</strong> 您将在该连接上新建一个datadict的数据库！
                                    </div>
                                    <div class="init-database-content">
                                        <div class="desc-content">
                                            <h3>之后您将能够实现以下功能：</h3>
                                            <br/>
                                            <p>
                                                <span class="layui-badge">1</span>
                                                对现存数据表进行分类和菜单化管理
                                            </p>
                                            <p>
                                                <span class="layui-badge">2</span>
                                                实现表结构的版本管理
                                            </p>
                                        </div>
                                        <div class="btn-center">
                                            <button type="button" class="btn btn-default previous-button left pre">上一步</button>
                                            <button type="button" class="btn btn-default submit-button right" lay-submit lay-filter="formStep2">确定生成</button>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div style="margin-right: 7%;">
                                        <div style="text-align: center;margin-top: 90px;">
                                            <i class="layui-icon layui-circle"
                                               style="color: white;font-size:30px;font-weight:bold;background: #43a6cc;padding: 20px;line-height: 80px;">&#xe605;</i>
                                            <div style="font-size: 24px;color: #333;font-weight: 500;margin-top: 30px;">
                                                初始化完成
                                            </div>
                                            <div style="font-size: 14px;color: #666;margin-top: 20px;">开始您的个性化之旅吧！</div>
                                        </div>
                                        <div style="text-align: center;margin-top: 50px;">
                                            <button type="button" class="btn btn-success">返回主页</button>
                                            <button type="button" class="btn btn-default submit-button">开始设置</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--版本号-->
<div class="footer">
    <p>
        <span> By LJX From 2019-03-19 </span>
        <span><a href="http://glyphicons.com/">友情链接glyphicon</a></span>
    </p>
</div>

<script th:src="@{/static/mine/jquery-3.3.1.min.js}"></script>
<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/layui/layui.js}"></script>
<script th:inline="javascript">
    layui.use('element', function(){
        var element = layui.element;

        //一些事件监听
        element.on('tab(demo)', function(data){
            console.log(data);
        });
    });
    layui.config({
        base:'/static/step-lay/'
    }).use([ 'form', 'step'], function () {
        var $ = layui.$
            , form = layui.form
            , step = layui.step;

        step.render({
            elem: '#stepForm',
            filter: 'stepForm',
            width: '100%', //设置容器宽度
            stepWidth: '100%',
            height: '500px',
            stepItems: [{
                title: '连接数据库'
            }, {
                title: '初始化数据库'
            }, {
                title: '完成'
            }]
        });


        form.on('submit(formStep)', function (data) {
            step.next('#stepForm');
            return false;
        });

        form.on('submit(formStep2)', function (data) {
            step.next('#stepForm');
            return false;
        });

        $('.pre').click(function () {
            step.pre('#stepForm');
        });

        $('.next').click(function () {
            step.next('#stepForm');
        });
    })
</script>
<script th:inline="javascript">
    function mergeRows(){
        $('.table').find("td[class^='type_']").each(function (index, element) {
            var cla = $(element).attr("class");
            var obj = $('.table').find("."+cla);
            if (obj.length>=1) {
                let dbName = $(element).text();
                obj.eq(0).attr("rowspan",obj.length);
                obj.eq(0).css("color","#1c93f9")
                obj.eq(0).css("cursor","pointer")
                obj.eq(0).wrapInner("<span onclick='refreshToShow(\"" +dbName+ "\", null)'></span>");
                obj.eq(0).removeClass(cla);
                $('.table').find("."+cla).remove();
            }
        })
    }

    $(document).ready(function(){
        $('#mysql_submit_btn').hide();
        $('#mongo_submit_btn').hide();
        mergeRows();
    });
</script>
<script>
    function refreshToShow(db_name, table_name) {
        if (dbName == "" || db_name == undefined || typeof db_name == "undefined") {
            layer.msg('请必须选择一个数据库',{time:1000});
            return;
        }
        var url = "/show?dbName=" + db_name;
        // window.location.href = url;
        if (table_name == undefined || typeof table_name == "undefined") {
            // url += "&tableName=" + table_name;
            table_name = "";
        }
        new submitForm('/show', { "dbName": db_name, "tableName":table_name }).post();
    }

    var dbName;
    function btn_query() {
        let table_name = $('#inputSearch').val();
        refreshToShow(dbName, table_name);
    }

    layui.use(['form', 'layer'], function () {
        var form = layui.form;
        var layer = layui.layer;

        // getDataBaseList();
        form.on('select(select-dbValue)', function(data){
            dbName = data.value;
        })
    })
</script>
<script>
    /*测试连接mysql*/
    function costom_btn_mysql_query() {
        let ip = $('#inputIp').val();
        let port = $('#inputPort').val();
        let userName = $('#inputUserName').val();
        let pwd = $('#inputPassword').val();
        // 验证信息
        if (ip == "" || ip == undefined || typeof ip == "undefined") {
            layer.msg('请输入IP',{time:1000});
            return;
        }
        // else {
        //     if (ip != 'localhost') {
        //         // 判断ip地址的合法性
        //         var exp=/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/;
        //         var reg = ip.match(exp);
        //         if(reg==null) {
        //             layer.msg("输入IP地址不合法！", {time: 1000});
        //             return;
        //         }
        //     }
        // }
        if (port == "" || port == undefined || typeof port == "undefined") {
            layer.msg('请输入Port',{time:1000});
            return;
        }
        if (userName == "" || userName == undefined || typeof userName == "undefined") {
            layer.msg('请输入UserName',{time:1000});
            return;
        }
        if (pwd == "" || pwd == undefined || typeof pwd == "undefined") {
            layer.msg('请输入Pwd',{time:1000});
            return;
        }
        let voInfo = { "ip": ip, "port":port, "userName":userName, "password":pwd };
        validauteMySql(voInfo);
    }
    function validauteMySql(voInfo) {
        var loadingFlag;
        $.ajax({
            type: 'Post',
            dataType: 'json',
            url: '/validateMySql',
            contentType:"application/json",
            data: JSON.stringify(voInfo),
            beforeSend: function (XMLHttpRequest) {
                //注意，layer.msg默认3秒自动关闭，如果数据加载耗时比较长，需要设置time
                loadingFlag= layer.msg('正在连接，请稍候……', { icon: 16, shade: 0.2,shadeClose:false,time:15000 });
            },
            success: function (data) {
                layer.close(loadingFlag);
                if (data.status !== 200) {
                    layer.msg(data.msg, {time:2000, icon:5});
                    return;
                }
                layer.msg("connection is ok!", {time:2000, icon:6});
                $('#mysql_submit_btn').show();
                $('#mysql_test_btn').hide();
            },
            error: function (data) {
                layer.close(loadingFlag);
                layer.msg(data.msg);
            }
        })
    }
    /*测试连接mongodb*/
    function costom_btn_mongodb_query() {
        let ip = $('#inputMongoIp').val();
        let port = $('#inputMongoPort').val();
        let userName = $('#inputMongoUserName').val();
        let pwd = $('#inputMongoPassword').val();
        // 验证信息
        if (ip == "" || ip == undefined || typeof ip == "undefined") {
            layer.msg('请输入IP',{time:1000});
            return;
        } else {
            if (ip != 'localhost') {
                // 判断ip地址的合法性
                var exp=/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/;
                var reg = ip.match(exp);
                if(reg==null) {
                    layer.msg("输入IP地址不合法！", {time: 1000});
                    return;
                }
            }
        }
        if (port == "" || port == undefined || typeof port == "undefined") {
            layer.msg('请输入Port',{time:1000});
            return;
        }
        let voInfo = { "ip": ip, "port":port, "userName":userName, "password":pwd };
        validauteMongoDB(voInfo);
    }
    function validauteMongoDB(voInfo) {
        var loadingFlag;
        $.ajax({
            type: 'Post',
            dataType: 'json',
            url: '/validateMongodb',
            contentType:"application/json",
            data: JSON.stringify(voInfo),
            beforeSend: function (XMLHttpRequest) {
                loadingFlag= layer.msg('正在连接，请稍候……', { icon: 16, shade: 0.2,shadeClose:false,time:15000 });
            },
            success: function (data) {
                layer.close(loadingFlag);
                if (data.status !== 200) {
                    layer.msg(data.msg, {time:2000, icon:5});
                    return;
                }
                layer.msg("connection is ok!", {time:2000, icon:6});
                $('#mongo_submit_btn').show();
                $('#mongo_test_btn').hide();
            },
            error: function (data) {
                layer.close(loadingFlag);
                if (data.msg) {
                    layer.msg(data.msg);
                } else {
                    layer.msg('访问无权限，返回首页！');
                }
            }
        })
    }
</script>
<script>
    // 控制直接回车键跳过测试连接步骤
    $(document).keydown(function(event){
        if (event.keyCode == 13) {
            return false;
        }
    });
</script>
<script type="text/javascript">
    /*创造虚拟表单POST提交不留参数于url*/
    function submitForm(url, data)
    {
        var eleForm = document.body.appendChild(document.createElement('form'));
        eleForm.action = url;
        for (var property in data)
        {
            var hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = property;
            hiddenInput.value = data[property];
            eleForm.appendChild(hiddenInput);
        }
        this.eleForm = eleForm;
        if (!submitForm._initialized)
        {
            submitForm.prototype.post = function ()
            {
                this.eleForm.method = 'post';
                this.eleForm.submit();
            };
            submitForm._initialized = true;
        }
    }
</script>
</body>
</html>