<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>在线数据字典-详情展示</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/static/mine/css/show.css}"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><a href="/" class="a-logo">YTBB-数据字典</a></div>
    </div>
    <div class="layui-side layui-bg-black" id="admin-side">
        <div class="layui-side-scroll" id="nav">
        </div>
    </div>
    <div class="layui-body" id="printContent">
        <!-- 内容主体区域 -->
        <div class="table-head">
            <h2 th:text="${session.dbName}+' - '+数据字典"></h2>
            <div class="operate">
                <form class="layui-form" action="">
                    <div class="layui-input-inline left">
                        <select name="modules" id="inputSearch" autocomplete="off" lay-search="">
                            <option value="">请输入要搜索的表名</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-default cyan-button ml-10 left" onclick="inputSearchQuery()">查询</button>
                    <button type="button" class="btn btn-default ml-10 left" onclick="returnCostomShow()">返回</button>
                    <button type="button" class="btn btn-default cyan-button ml-10 right" onclick="exportWord()">导出</button>
                </form>
            </div>
        </div>
        <div class="table-pad">
            <table class="table table-bordered table-hover" id="list">
            </table>
        </div>
    </div>

    <div class="layui-footer">
        <p class="footer-p">
            <span> By LJX From 2019-03-19 </span>
            <span><a href="http://glyphicons.com/">友情链接glyphicon</a></span>
        </p>
    </div>
</div>
<script th:src="@{/static/mine/jquery-3.3.1.min.js}"></script>
<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/layui/layui.all.js}"></script>
<script th:inline="javascript">
    var dbName = [[${session.dbName}]];
    var tableName = [[${session.tableName}]];
</script>
<script>
    function getTableDetailList(db_name, table_name) {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            data: {"db_name": db_name, "table_name": table_name},
            url: '/queryTableStructure',
            success: function (data) {
                if (data.status !== 200) {
                    layer.msg(data.msg);
                    return;
                }
                var tableShow = "";
                var tName = "";
                $(data.data).each(function (i, item) {
                    if (i === 0) {
                        tableShow += "<thead><tr style='background-color: #f1ccd3'>" +
                            "<td colspan='7'><strong>" + item.tableName + "&nbsp;&nbsp;" + item.tableChName + "</strong></td></tr></thead>" +
                            "<thead><tr style='background-color: #c4e7ec'><th>字段名</th>" +
                            "<th width='100px'>数据类型</th>" +
                            "<th width='100px'>长度</th>" +
                            "<th width='100px'>键值</th>" +
                            "<th width='100px'>是否可空</th>" +
                            "<th>默认值</th>" +
                            "<th>描述</th></tr></thead><tbody>";
                    } else {
                        if (tName !== item.tableName) {
                            tableShow += "<thead><tr style='background-color: #f1ccd3'>" +
                                "<td colspan='7'><strong>" + item.tableName + "&nbsp;&nbsp;" + item.tableChName + "</strong></td></tr></thead>" +
                                "<thead><tr style='background-color: #c4e7ec'><th>字段名</th>" +
                                "<th>数据类型</th><th>长度</th><th>键值</th><th>是否可空</th><th>默认值</th>" +
                                "<th>描述</th></tr></thead><tbody>";
                        }
                    }

                    tableShow += "<tr><td>" + item.field + "</td>"
                        + "<td>" + item.type + "</ta></td>"
                        + "<td>" + item.length + "</td>"
                        + "<td>" + item.key + "</td>"
                        + "<td>" + item.isNull + "</td>"
                        + "<td>" + item.defaultValue + "</td>"
                        + "<td>" + item.comment + "</td>"
                        + "</tr></tbody>";
                    tName = item.tableName;
                });
                $("#list").html(tableShow);
            },
            error: function (data) {
                layer.msg(data.msg);
            }
        })
    }

    function getShowContent() {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            data: {"dbName": dbName},
            url: '/queryMenuList',
            success: function (data) {
                if (data.status !== 200) {
                    layer.msg(data.msg);
                    return;
                }
                var menu = "";
                $.each(data.data, function (index, item) {
                    if (item.parentUid == null && item.menuName != null) {
                        menu += "<ul class=\"layui-nav layui-nav-tree\" >";
                        if (index === 0) {
                            menu += "<li data-name=\"component\" class=\"layui-nav-item layui-nav-itemed\">";
                        } else {
                            menu += "<li data-name=\"component\" class=\"layui-nav-item\">";
                        }
                        menu += "<a href=\"javascript:\" onclick='getTableDetailList(dbName,null)'>" +
                            "<i class=\"layui-icon layui-icon-component\"></i><cite>&nbsp;" + item.menuName + "</cite>";
                        if (item.childMenus != null && item.childMenus.length > 0) {
                            menu += "<span class=\"layui-nav-more\"></span></a>"; //添加三角图标
                            $.each(item.childMenus, function (index, secItem) {
                                menu += "<dl class=\"layui-nav-child\"><dd data-name=\"grid\">" +
                                    "<a href=\"javascript:\"><i class=\"layui-icon layui-icon-snowflake\">" +
                                    "&nbsp;&nbsp;" + secItem.menuName + "";
                                if (secItem.childMenus != null && secItem.childMenus.length > 0) {
                                    menu += "</i><span class=\"layui-nav-more\"></span></a>";
                                    menu += "<dl class=\"layui-nav-child\">";
                                    $.each(secItem.childMenus, function (index, thirdItem) {
                                        menu += "<dd data-name=\"list\">" +
                                            "<a href=\"javascript:\" " +
                                            "onclick='getTableDetailList(dbName,\"" + thirdItem.menuName + "\")'>" + thirdItem.menuName + "</a></dd>";
                                    });
                                    menu += "</dl>";
                                }
                                menu += "</dd></dl>";
                            });
                        }
                        menu += "</li></ul>";
                    } else {
                        if (index === 0) {
                            menu += "<ul class=\"layui-nav layui-nav-tree\" >";
                        }
                        menu += "<li data-name=\"component\" class=\"layui-nav-item\">";
                        menu += "<a href=\"javascript:\" onclick='getTableDetailList(dbName,\"" + item.menuName + "\")'>" +
                            "<i class=\"layui-icon layui-icon-component\"></i>&nbsp;" + item.menuName + "</li>";
                        if (index === data.data.length - 1) {
                            menu += "</ul>";
                        }
                    }
                });
                $("#nav").html(menu);
                var element = layui.element;
                element.init()//初始化element事件，使菜单展开

                // 下拉框中列表展示
                $.each(data.data, function (index, item) {
                    // 下拉菜单里添加元素
                    $('#inputSearch').append(new Option(item.menuName, item.menuName));
                });
                layui.form.render("select");
            },
            error: function (data) {
                layer.msg(data.msg);
            }
        });
    }

    $(function () {
        getShowContent();
        getTableDetailList(dbName, tableName);
    });
</script>
<script>
    function inputSearchQuery() {
        var t = $("#inputSearch").val();
        getTableDetailList(dbName, t);
    }

    function returnCostomShow() {
        window.location.href = "/costomShow";
    }

    function exportWord() {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            data: {"db_name": dbName, "table_name": tableName},
            url: '/exportWord',
            success: function (data) {
                if (data.status !== 200) {
                    layer.msg(data.msg+"，文件正在被占用会造成错误！", {time:1500});
                    return;
                }
                layer.msg('导出完成！', {time:1500});
            },
            error: function (data) {
                layer.msg(data.msg, {time:2000});
            }
        })
    }
</script>
<script>
    $(document).keydown(function(event){
        if ((event.ctrlKey && event.keyCode === 82) ||
            event.keyCode === 116) {
            window.location.href = "/show?db=" + dbName;
        }
    });
</script>
</body>
</html>