<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>用户列表</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" />
    <link rel="stylesheet" th:href="@{/static/iviewui/css/iview.css}" />
    <style>
        .show-grid [class^=col-] {
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #eee;
            background-color: rgba(86,61,124,.15);
            border: 1px solid #ddd;
            border: 1px solid rgba(86,61,124,.2);
        }
    </style>
</head>
<body>
<p th:text="'Hello！, ' + ${userName} + '!'">userName</p>
<div class="container">
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>姓名</th>
        </tr>
        <tr th:each="user:${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
        </tr>
    </table>
    <div class="row show-grid">
        <div class="col-md-6">.col-md-6</div>
        <div class="col-md-6">.col-md-6</div>
    </div>
</div>
<div id="app">
    <p>{{ message }}</p>
</div>

<div class="layui-container">
    常规布局（以中型屏幕桌面为例）：
    <div class="layui-row">
        <div class="layui-col-md6">
            你的内容 6/12
        </div>
        <div class="layui-col-md6">
            你的内容 6/12
        </div>
    </div>
</div>

<div id="iviewApp">
    <i-button @click="show">Click me!</i-button>
    <Modal v-model="visible" title="Welcome">Welcome to iView</Modal>
</div>

<template style="background-color: #00F7DE">
    <Row>
        <Col span="12">col-12</Col>
        <Col span="12">col-12</Col>
    </Row>
    <br>
    <Row>
        <Col span="8">col-8</Col>
        <Col span="8">col-8</Col>
        <Col span="8">col-8</Col>
    </Row>
    <br>
    <Row>
        <Col span="6">col-6</Col>
        <Col span="6">col-6</Col>
        <Col span="6">col-6</Col>
        <Col span="6">col-6</Col>
    </Row>
</template>

<script th:src="@{/static/mine/jquery-3.3.1.js}"></script>
<script th:src="@{/static/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/static/layui/layui.all.js}"></script>
<script th:src="@{/static/vue/vue.min.js}"></script>
<script th:src="@{/static/iviewui/js/iview.min.js}"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            message: 'Hello you are best!'
        }
    })
    new Vue({
        el: '#iviewApp',
        data: {
            visible: false
        },
        methods: {
            show: function () {
                this.visible = true;
            }
        }
    })
</script>
</body>
</html>